@font-face {
    font-family: 'JURASSIC_PARK';
    src: url('../fonts/Jurassic_Park.woff2') format("woff2");
}

body {
    background-color: black;
    color: #ccc;
    font-family: 'JURASSIC_PARK';
    font-size: 36px;
}

@media (width <=1200px) {
    #logo {
        width: 50%;
        height: 50%;
    }

    footer {
        font-size: 16px;
    }
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#logo {
    position: relative;
    width: 200px;
    height: auto;
    animation: movimentLogo 10s 2 ease-in-out;
}

@keyframes movimentLogo {
    from {
        left: -1000px;
    }

    to {
        left: 1000px;
    }
}

main {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



.grid-st {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 90%;
}

.grid-st .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 1s ease-out;
}
.grid-st .item:hover {
    transform: scale(1.1);
}

.grid-st .item .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background: rgba(0,0,0,0.45);
    padding: 6px 12px;
    border-radius: 6px;
    z-index: 2;
    text-align: center;
    color:#ccc;
    font-size: 64px;
}

.grid-st .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    
}



footer {
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}