:root {
    --color-bg: #000000;
    --color-primary: #98ed90;
    --color-secondary: #f84040;
    --color-tertiary: #f8d340;
    --color-fons: #22351f;

    --font-logo: 'JURASSIC_PARK', sans-serif;
    --font-body: 'Geo', sans-serif;
}

@font-face {
    font-family: 'JURASSIC_PARK';
    src: url('../fonts/Jurassic_Park.woff2') format("woff2");
}

@font-face {
    font-family: 'Geo';
    src: url('../fonts/Geo-Regular.woff2') format("woff2");
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-logo), sans-serif;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#logo {
    position: relative;
    width: 150px;
    height: auto;
    animation: movimentLogo 5s 1 ease-in-out forwards;
}

@keyframes movimentLogo {
    0% {
        left: 0;
    }
    50% {
        left: 1650px;
    }
    100% {
        left: 50px;
    }
}

#texto-logo {
    color: var(--color-primary);
    font-size: 100%;
    font-family: var(--font-body);
    margin-left: 450px;
    display: none;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 10px;
    margin: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    border: var(--color-primary) 3px solid;
    padding: 20px;
    background-color: var(--color-fons);
    border-radius: 10px;
    height: auto;
}

aside ul {
    list-style: none;
    padding: 0;
    font-family: var(--font-body);
}

aside nav ul li a {
    text-decoration: none;
    margin: 15px 0;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
}

aside nav ul li a:hover {
    text-decoration: none;
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}
#dennis {
    font-size: 20px;
    font-family: var(--font-body);
    color: var(--color-tertiary);
    margin-top: 20px;
    text-align: center;
}

#missatge {
    font-size: 20px;
    font-family: var(--font-body);
    color: var(--color-primary);
    margin-top: 10px;
    text-align: center;
    display: none;
}

#wayne {
    width: 130px;
    border: var(--color-primary) 4px solid;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

#wayne:hover {
    border-color: var(--color-secondary);
}

#perfil {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: var(--color-primary) 4px solid;
}

.grid-st {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: var(--color-primary) 3px solid;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

.grid-st .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
}

.grid-st .item:hover {
   transform: scale(1.1);
}

.grid-st .item .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background: rgba(0, 0, 0, 0.45);
    padding: 6px 12px;
    border-radius: 6px;
    z-index: 2;
    text-align: center;
    color: var(--color-text);
    font-size: 64px;
    color: var(--color-secondary);
}

.grid-st .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bonus {
    color: var(--color-tertiary);
}
#starwars {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--color-primary) 1px solid;
    display: flex;
    justify-content: center;
}

#quisoc {
    margin-top: 20px;
    font-family: var(--font-body);
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--color-fons);
    color: var(--color-tertiary);
    border: var(--color-primary) 3px solid;
    border-radius: 10px;
    padding: 20px;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    gap: 4em;
}

footer div a:hover{
    transform: scale(1.25);
    transition: transform 0.3s;
}

footer h1 {
    font-family: var(--font-body);
    color: var(--color-primary);
    font-size: 40px;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        margin: 15px; 
    }

    aside {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        box-sizing: border-box; 
    }

    .grid-st {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    #logo {
        width: 100px; 
        height: 80%; 
        animation: none;
    }

    #texto-logo {
        font-size: 60%; 
        margin-left: 20px;
        display: block;
        transform-origin: 0%;
    }

    footer h1 {
        font-size: 24px;
    }
    
    footer div {
        gap: 1em;
    }
}