div{
    width: 57mm;
    height: 90mm;
    background-color: purple;
    position: absolute;
    background-size: 100%;
    z-index: 10;
}

#v1{
    left: 18mm;
    top: 8mm;
    background-image: url(img/Watch1.webp);
}
#v2{
    left: 78mm;
    top: 8mm;
    background-image: url(img/Watch2.webp);
}
#v3{
    left: 137mm;
    top: 8mm;
    background-image: url(img/Watch3.webp);
}
#v4{
    left: 18mm;
    top: 102mm;
    background-image: url(img/Watch4.webp);
}
#v5{
    left: 78mm;
    top: 102mm;
    background-image: url(img/Watch5.webp);
}
#v6{
    left: 137mm;
    top: 102mm;
    background-image: url(img/Watch6.webp);
}
#v7{
    left: 18mm;
    top: 195mm;
    background-image: url(img/Watch7.webp);
}   
#v8{
    left: 78mm;
    top: 195mm;
    background-image: url(img/Watch8.webp);
}
#v9{
    left: 137mm;
    top: 195mm;
    background-color:orange;
    /*z-index: 11;*/
    background-image: url(img/Watch9.webp);
}