body{
    background-color: orange;
}

div{
    width: 285px;
    height: 450px;
    background-color: pink;
    margin: 10px;
    float: left;
    background-size: 100%;
}

#v1{
    background-image: url(img/Watch1.webp);

}
#v2{
    background-image: url(img/Watch2.webp);
}
#v3{
    background-image: url(img/Watch3.webp);
}
#v4{
    background-image: url(img/Watch4.webp);
}
#v5{
    background-image: url(img/Watch5.webp);
}
#v6{
    background-image: url(img/Watch6.webp);
}
#v7{
    background-image: url(img/Watch7.webp);
}
#v8{
    background-image: url(img/Watch8.webp);
}
#v9{
    background-image: url(img/Watch9.webp);
}